*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.main_container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid rgb(44, 23, 160);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
}

.box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}



.main_container input{
    padding: 15px;
    border-radius: 4px;
    margin: 20px auto;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    width: 100%;
}

.box button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
}